.chatOnlineFriend {
    display: flex;
    align-items: center;
    font-weight: 400;
    cursor: pointer;
    margin-top: 10px;
}

.chatOnlineImgContainer {
    position: relative;
    margin-right: 10px;
}

.chatOnlineImg{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    border-style: 1px solid whitesmoke;
}

.chatOnlineBadge {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid rgba(92, 92, 92, 0.514);
    background-color: rgb(72, 255, 0);
    position: absolute;
    top: 0px;
}

.chatOnlineName {
    font-size: 12px;
}