.message {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.messageTop{
    display: flex;
}

.messageImg{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.messageText{
    padding: 6px;
    border-radius: 20px;
    font-size: 12px;
    background-color: #0091FF;
    color: #fff;
    max-width: 300px;
}

.messageBottom{
    font-size: 8px;
    margin-top: 10px;
}

.message.own{
    align-items: flex-end;
}

.message.own .messageText{
    background-color: rgb(211, 211, 211);
    color: #000;
}